@use 'sass:map';

// Baby Buddy site-wide custom styles.

// Remove extra margin below site breadcrumb.
.breadcrumb {
    margin-bottom: 0;
}

// Extra-small button.
.btn-xs {
    @include button-size(.2rem, .12rem, .75rem, .2rem);
}

// Right align main dropdown menu.
.dropdown-menu-end {
    right: 0;
    left: auto; // Reset the default from `.dropdown-menu`
}

// PullToRefresh elements.
.ptr--ptr {
    background: map.get($theme-colors, 'dark');
    .ptr--text, .ptr--icon {
        // "!important" must be used to override inline styling from JS.
        color: map.get($theme-colors, 'light') !important;
    }
}

// Larger icon variant.
.icon-2x {
    font-size: 1.65em;
}

// All modals
.modal-content {
    color: map.get($theme-colors, 'dark');
}

// Pagination
.page-link-icon {
    padding: var(--bs-pagination-padding-y) calc(var(--bs-pagination-padding-x) / 1.75);
}

// Owlet alert blinking animation
@keyframes owlet-blink {
    0%, 49% {
        background-color: #dc3545;
        opacity: 1;
    }
    50%, 100% {
        background-color: transparent;
        opacity: 0.7;
    }
}

.owlet-alert-blink {
    animation: owlet-blink 1s infinite;
    border-radius: 0.25rem;
}
